.header-style{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 50px;
    align-items: center;
    
}

.icon a{
    font-size: x-large;
    font-weight: bold;
    text-decoration: None;
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 1px solid #000000;
    padding: 8px 2vw;
}
.nav-link a {
    text-decoration: None;
    color: white;
 
    margin-right: 1.5vw;
    border: 1px solid #000000;
    padding: 13px 2vw;
    
}

a:hover{
    background-color: #272525;
}
