.que{
    display: flex;
    justify-content: center;
}

.que-option{
    border:none;
    justify-content: center;
    margin:1vh 4vw;
    padding: 4vh 2vw;
    background-color: #4a6775;
    border-radius: 8px;
    color: rgb(255, 255, 255);
   

    
}

